/* Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:400,600');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 12rem;
  min-height: 100%;
  color: #000;
  background-color: #F7F7F7;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}

::selection {
  background: #057AFF;
  color: #fff;
}
::-moz-selection {
  background: #057AFF;
  color: #fff;
}

a {
  cursor: pointer;
  color: #333399;
}

a:hover {
  color: inherit;
  color: #333399;
  opacity: .75;
}

.navbar-default {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.navbar-default .navbar-brand {
  color: #252525;
  font-family: 'Raleway', sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #252525;
}
.navbar-default .navbar-nav > li > a {
  color: #252525;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #fbfbfb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #fbfbfb;
}
.navbar-default .navbar-toggle {
  border-color: #fbfbfb;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fbfbfb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #252525;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #252525;
}
.navbar-default .navbar-link {
  color: #252525;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #252525;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #fbfbfb;
  }
}

.login-btn {
  background-color: rgb(102, 181, 40);
  min-width: 75px;
  text-align: center;
}

.login-btn a {
  color: #fff !important;
}
