/* Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:300,400,600');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  color: #000;
  padding-top: 3rem;
  background-color: #fbfbfb;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

::selection {
  background: rgba(247, 137, 36, 0.75);
  color: #fff;
}
::-moz-selection {
  background: rgba(247, 137, 36, 0.75);
  color: #fff;
}

a {
  cursor: pointer;
  color: #66b528;
}

a:hover {
  color: inherit;
  color: #66b528;
  opacity: .75;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.alt-title {
  display: inline;
  font-size: 20pt;
  background-color: rgba(247, 137, 36, 0.5);
  font-family: 'Raleway', sans-serif;
  border-left: 3px solid #d07b2d;
  border-spacing: 30px;
  padding: 3px 10px 3px 3px;
  margin-bottom: 1rem;
}

#homepage {
  overflow: hidden;
}

#wrapper {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://github.com/itsachineseschool/site/blob/master/img/panda.jpg?raw=true");
  height: 100vh;
  max-width: 100%;

}

.footer {
  position: absolute;
  background-color: #fafafa;
  border-top: 1px solid #f7f7f7;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
}

.jumbotron {
  background: linear-gradient(to right, #e67107, #ff6e05);
  color: #fff;
  background-repeat: no-repeat;
}

#wrapper-overlay {
  vertical-align: middle;
  max-width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.75);
}

#wrapper-content {
  position: fixed;
  top: 40vh;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 10px #000;
}

.wrapper-title {
  font-family: 'Raleway', sans-serif;
  font-size: 48pt;
  font-weight: 700;
}

.wrapper-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  font-weight: 300;
}


.navbar-default {
  background-color: #ffffff;
  border-bottom: none;
  border-top: 5px solid #d07b2d;
  border-bottom: 1px solid #F7F7F7;
}

.navbar-default .navbar-brand {
  color: #252525;
  font-family: 'Raleway', sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #252525;
}
.navbar-default .navbar-nav > li > a {
  color: #252525;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #F7F7F7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #fbfbfb;
}
.navbar-default .navbar-toggle {
  border-color: #fbfbfb;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fbfbfb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #252525;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #252525;
}
.navbar-default .navbar-link {
  color: #252525;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #252525;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #fbfbfb;
  }
}

.login-btn {
  background-color: #66b528;
  color: #fff !important;
  min-width: 75px;
  text-align: center;
}

.login-btn:hover {
  background-color: #70c62d !important;
}

.login-btn:focus {
  background-color: #4d8b1e !important;
}

.login-btn a {
  color: #fff !important;
}
